body {
  overflow-x: hidden;
}
form .inputClass input {
  background-color: #ffffff;
  border: 1px solid #909090;
  border-radius: 5px;
}

.form-group .inputClass {
  width: 47.5%;
  margin-left: 15px;
  padding: 2px 0;
}

::-webkit-input-placeholder {
  color: #181623;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 7px 13px !important;
}
/* input[type='checkbox']:checked {
  background-color: #FFFFFF;
}
  
input[type='checkbox']:checked:after {
  content: '\2713';
  color: #0069BF;
}
input[type='checkbox']{
  text-align: center;
  vertical-align: middle;
  width: 20px !important;
  height: 20px !important;
  appearance:none;
  border-radius:10%;
  border: 1px solid #0069BF;
  box-shadow: none;
  font-size: 1em;
} */
